:root {
  /* Primary color shades */
  --md-primary-fg-color: #6044f3;
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #90030c;

  /* Accent color shades */
  --md-accent-fg-color: #6044f3;
  /* --md-accent-fg-color: rgba(219, 253, 125, 1); */
}
